<header class="main-header">
    <div class="grid">
    <!-- TK: Update Logo -->
        <div class="logo"><img src="/assets/img/logo.svg" alt="Ahana Logo"></div>
        <nav>
            <a href="//ahanapediatrics.com">ahanapediatrics.com</a>
        </nav>
    </div>
</header>