<header class="main-header">
    <div class="grid">
        <div class="logo"><img src="/assets/img/android-icon-192x192.png" alt="Ahana Logo"></div>
        <nav>
            <a href="//ahana.health">ahana.health</a>
        </nav>
    </div>
</header>