<header class="main-header">
    <div class="grid">
    <!-- TK: Update Logo -->
        <div class="logo"><img src="//files.ahanapediatrics.com/images/android-chrome-256x256.png" alt="Ahana Logo"></div>
        <nav>
            <a href="//ahanapediatrics.com">ahanapediatrics.com</a>
        </nav>
    </div>
</header>