<div class="masthead">
  <h1>Ahana HIPAA Compliance Policies</h1>
  <div class="subhead">
    <p>This is the public version of Ahana's HIPAA Compliance Policies. If you have any further questions, please reach out to us at <a href="mailto:inquiries@ahanapediatrics.com">inquiries@ahanapediatrics.com</a>.</p>
  </div>
</div>